# Xcode
DerivedData/
build/
*.xcworkspace
xcuserdata/
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcodeproj/xcshareddata/xcschemes/*.xcscheme
*.xcodeproj/xcshareddata/xcschemes/xcschememanagement.plist

# Swift Package Manager
.build/
.swiftpm/xcode/package.xcworkspace/
.swiftpm/xcode/xcuserdata/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Other
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Personal settings
*.swp
*.swo
*.DS_Store
